<h2>The First 10 Pokemon in gen 2 by national pokedex number</h2>
<table>
  <tr><td>Name</td><td>National Dex#</td><td>Bulbapedia Link</td></tr>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.ndex %></td>
        <td><%= link_to(pokemon.name, pokemon.bulbapedia_link) %></td>
      </tr>
    <% end %>
</table>
