<p>Name: <%= @pokemon.name %></p>
<p>National Dex #:<%= @pokemon.ndex %></p>
<p>Catch Rate:<%= @pokemon.catch_rate %></p>
<p><%= link_to("Find out more about #{@pokemon.name} on Bulbapedia", @pokemon.bulbapedia_link) %></p>
